<h1>Add Event</h1>

<form method="post">
    <label>Name</label>
    <input name="name" type="text" />
    <label>Description</label>
    <input name="desc" type="text" />
    <input type="submit" value="Add Event" />
</form>