@model CodingEvents.ViewModels.AddEventCategoryViewModel

<h1>Add Event Category</h1>

<form method="POST">
    <div asp-controller="EventCategory" asp-action="Create" class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Event Category" />
</form>